<!DOCTYPE html>
<html>
<head>
  <title>Amministrativa</title>
  <%= stylesheet_link_tag    "amministrativa/application", media: "all" %>
  <%= javascript_include_tag "amministrativa/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
