<!DOCTYPE html>
<html>
<head>
  <title>Minister</title>
  <%= stylesheet_link_tag    "minister/application", media: "all" %>
  <%= javascript_include_tag "minister/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
